@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1555597641489'); /* IE9 */
  src: url('iconfont.eot?t=1555597641489#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABpwAAAKHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBAIEMATYCJAMMCwgABCAFhG0HPBvYBcgekiSCPAwKQUSVtMAUxcN/+/1vn5l5qu3/5BYVbSQWiYhnD0msJSKUSkieyXdwrQ3XyoBqrie7+xPbDddsltRKFY08ofCJal1ywqzN57mc3gQ6kPnx6Bxna9sY+/lRL8A4oED3wCiQgMskEW8Yu8Al3CfQtiiC3bWiigbgqrCWBeKZwFPANZdVFNZoCvWavUV84aSZ3qbwOfx+/HMQriS1zFp750EhC3J+5p/P80Q1ocMn5IAAD9eQsQUoxP3a6j0OgnEO2m7H9s66IqS5ClVFqOnOuv2HRxJEndXfBWuolvjp4Gqppw8ad13PcHdKFgC77PRNQrQnb1qphla6p72J4ZdWg5tWN9cOgxqb1/ZX1gMblkO+VybCM0Ntb7mnAXuBu3nJX++ZEPzgOD3aGOfD/mP7FrFd6qv9XEL5H7gDPQCql/wtC5C+xgLBww/iWLdPxv9mp4Af1pPbYbZ6KfrXmhJM/1l6z6Gim1YkF1VzNTOeTXpUEtp6QgWs5Jh1vH92Q83QNBvhbOjmzcWbllKysFuo6ThCXdMZ2jYVH+6YwBxEaWHDLEAYukTS9x3Z0D1Z2A/UzNlQNwwHtN2NgDM7VkJwz8eIIoiF9CAUGE3lnBhxjwbrEN8rUzhrhnwTwqZQgLFRMcVGMVIRnmOD2cfHEcJBDmsKLAKPIVnWoI41ETEkykKInhYdzdW9KIrRFODuCoZQCIQF0QZBAoZGxfnjCffS5+sgvF4yCm6x1dRNEMwkTA/FihLTgyx2q71s9/KMqQ8vDkFwIA6mUUBFYBYik2kgvX6WCGEQUSwjyro00fYorq87an2v8n0noM06K0eKHEX7Ra8oUNqAoPJOXoWSKQAAAA==') format('woff2'),
  url('iconfont.woff?t=1555597641489') format('woff'),
  url('iconfont.ttf?t=1555597641489') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1555597641489#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wujiaoxing:before {
  content: "\e676";
}

.icon-xiala:before {
  content: "\e603";
}

